/* || DECLARING LOCAL FONTS */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../assets/fonts/montserrat/montserrat-v31-latin-regular.woff2")
    format("woff2");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../assets/fonts/montserrat/montserrat-v31-latin-500.woff2")
    format("woff2");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../assets/fonts/montserrat/montserrat-v31-latin-700.woff2")
    format("woff2");
}

@font-face {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../assets/fonts/fraunces/fraunces-v38-latin-regular.woff2")
    format("woff2");
}

@font-face {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../assets/fonts/fraunces/fraunces-v38-latin-700.woff2")
    format("woff2");
}

/* || RESET */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
picture {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  font: inherit;
  color: inherit;
  background: none;
  border-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

/* || VARIABLES */
:root {
  /* COLORS */
  --green-500-color: hsl(158, 36%, 37%);
  --green-700-color: hsl(158, 42%, 18%);
  --black-color: hsl(212, 21%, 14%);
  --grey-color: hsl(228, 12%, 48%);
  --cream-color: hsl(30, 38%, 92%);
  --white-color: hsl(0, 0%, 100%);
  --blue-color: hsl(228, 45%, 30%);

  /* || type of FONTS */
  --fraunces-font: "Fraunces", serif;

  /* || FONT SIZE */
  --general-font-size: 14px;
  --category-font-size: 0.9em;
  --name-font-size: 2.25rem;
  --sale-price-font-size: clamp(2rem, 1.94rem + 0.2999999999999998vw, 2.3rem);

  /* || FONT WEIGHT */
  --general-font-weight: 500;
  --sale-price-font-weight: 700;

  /* || LETTER SPACING */
  --category-letter-spacing: 0.4em;

  /* || LINE HEIGHT */
  --general-line-height: 1.6;
  --name-line-height: 1;

  /* || MAX INLINE */
  --description-max-inline-size: clamp(24rem, 50vw, 40rem);

  /* || WITH MEASURE */
  --product-card-max-width: clamp(33rem, 50vw, 43rem);

  /* || PADDINGS */
  --layout-padding-inline: 1rem;
  --layout-padding-block: 1rem;
  --details-padding-inline: 2.2em;
  --details-padding-block: 2em;
  --text-padding-block-end: clamp(1em, calc(11.455px + 0.795vh), 1.5em);
  --category-padding-block-end: 1.5rem;
  --name-padding-block-end: 1.8rem;
  --sale-price-padding-inline-end: clamp(0.5rem, 2vw, 1.5rem);
  --button-padding-block: 0.75rem;

  /* || BORDER RADIUS */
  --product-card-border-radius: 0.625rem;
  --image-border-radius: 0.625rem 0.625rem 0 0;
  --button-border-radius: 0.75rem;
}

html {
  font-family: "Montserrat", sans-serif;
  background-color: var(--cream-color);
  color: var(--grey-color);
  font-size: var(--general-font-size);
  line-height: var(--general-line-height);
  font-weight: var(--general-font-weight);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.layout {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-inline: var(--layout-padding-inline);
  padding-block: var(--layout-padding-block);
}

.product-card {
  max-width: var(--product-card-max-width);
  background-color: var(--white-color);
  border-radius: var(--product-card-border-radius);
  box-sizing: border-box;
}

.product-card__image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: var(--image-border-radius);
}

.product-card__details {
  padding-inline: var(--details-padding-inline);
  padding-block: var(--details-padding-block);
}

.product-card__category {
  display: block;
  text-transform: uppercase;
  font-size: var(--category-font-size);
  padding-block-end: var(--category-padding-block-end);
  letter-spacing: var(--category-letter-spacing);
}

.product-card__name {
  font-size: var(--name-font-size);
  font-family: var(--fraunces-font);
  color: var(--black-color);
  line-height: var(--name-line-height);
  padding-block-end: var(--name-padding-block-end);
}

.product-card__description {
  padding-block-end: var(--text-padding-block-end);
  max-inline-size: var(--description-max-inline-size);
}

.product-card__prices {
  display: flex;
  align-items: center;
  padding-block-end: var(--text-padding-block-end);
}

.product-card__sale-price {
  color: var(--green-500-color);
  font-family: var(--fraunces-font);
  font-weight: var(--sale-price-font-weight);
  font-size: var(--sale-price-font-size);
  padding-inline-end: var(--sale-price-padding-inline-end);
  text-decoration: none;
}

.product-card__button {
  background-color: var(--green-500-color);
  width: 100%;
  color: var(--white-color);
  border-radius: var(--button-border-radius);
  padding-block: var(--button-padding-block);

  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.product-card__button:hover {
  background-color: var(--green-700-color);
  cursor: pointer;
}

.product-card__button:focus-visible {
  outline: 0.215em solid var(--green-700-color);
  outline-offset: 0.215em;
}

.button__icon {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-image: url(../assets/images/icon-cart.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.attribution {
  font-size: 0.785em;
  color: var(--black-color);
  text-align: center;
}
.attribution a {
  text-decoration: underline;
  text-underline-offset: 0.14em;
  color: var(--blue-color);
}

@media (min-width: 30rem) {
  .product-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .product-card__image {
    height: 100%;
  }

  .product-card__image img {
    height: 100%;
    border-radius: 0.625rem 0 0 0.625rem;
  }
}
